@font-face {
    font-family: Quicksand;
    src: url('Quicksand-Regular.woff') format('woff'),
         url('Quicksand-Regular.tff') format('truetype');
}

main {
    width: 100%
}

body {
    color: rgb(91, 91, 91);
  background-color: darkturquoise;
    
}


h1, h2 {
    color: rebeccapurple;
}

p {
  border: 2px outline red;
  
  font-family: verdana;
  font-size: 20px;
  padding: 10px 35px 10px 30px;
}

section {
    background-color: burlywood;
    width: 50;
    font-size: 1.2em;
    padding: 1.5em; 
	outline: 5px solid purple;
	outline-offset: 5px;
    
}


body > footer address {
    background-color: rgb(128, 92, 203);
    color: rgba(140, 153, 82, 0.8);
    font: normal small-caps bold 0.9em/3em
        Quicksand, Verdana, Geneva, sans-serif; 
    text-align: center;
    }

   


nav > ul {
    line-height: 2em;
    list-style-type: none;
    padding-left: 20px;
}

nav > ul > li > a:hover, nav > ul > li > a:visited {
    color: rgb(93, 199, 151);
    text-decoration-color: coral;
}

nav > ul > li > a:hover, nav > ul > li > a:active {
    color: rgb(230, 134, 25);
    text-decoration-color: coral;
}

footer {
    background-color: beige;
    border: 2px outline red;
    padding: 1.5em
    outline: 5px solid purple;
    outline-offset: 5px;

}
