*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    line-height: 2;
    text-align: center;

}

header {
    background-color: darkslategrey;
    color: white;
    padding: 20px 0;
}
header h1 {
    margin: 0;
} 
nav {
    background-color: orchid
     
}
nav ul {
    list-style: none;
}
nav ul li  {
    display: inline-block;
    margin: 0 20px;
}
nav ul li a {
    color:blue;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-box;

}
nav ul li a:hover {
    background-color: chartreuse;
}
@media (max-width: 766px) {

}
main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
section {
    background-color: burlywood;
    padding: 20px;
    margin: 10px;
    width: 45%;
    border: 1px sandybrown

 
}
footer {
    background-color: darkslategrey;
    color: white;
    padding: 20px 0; 
}
h2 {
    color: rebeccapurple;
}
